/*------------- RESET HTML ------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F4FC;
    color: #514D67;
} 
/*-------------- STYLES AUX -----------*/
.color1 {color: #072AC8;}
.color2 {color: #43D2FF;}
.color3 {color: #A2D6F9;}
.color4 {color: #D1EDFF;}
.color5 {color: #292E47;}
.color6 {color: #6B708D;}
.color7 {color: #F2F4FC;}
.color8 {color: #ECF7FF;}
.color9 {color: #FFC600;}
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}
h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
}
h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}
h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.body-medium{   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.body-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}
.headline-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
}
.headline-medium{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
}
.caption1-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.caption2.regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
/* ------------------------------------------ MY CSS -----------------------*/
/* ---------------NAV-BAR */
.nav-bar{
}
.container{
    display: flex;
    justify-content: space-around;
    margin: 35px 25px;
}
/* MENU LIST */
.menu{
}
.menu-list{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    color: #6B708D;
    text-decoration: none;
    list-style-type: none;
    /* margin: 0px 20px;   */
    padding: 0px 20px;
    font-weight: bold;
} 
.menu-list:hover{
    color: #072AC8;
}
.menu-list:focus{
    color: #A2D6F9; /*wrong colorrrrrrrrrrrrrrrrrrrrrrrrr */
}
/* LOGO */
.logo{
    padding: 15px 33px;
}


/* CONTACT US BUTTON */
.button{
    display: inline-block;
    background-color: #072AC8; /* default blue */
    border: none;
    color: white;
    width: 150px;
    height: 52px;   
    padding-top: 20px;
    /* padding: 15px; */
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.button:hover{
    background-color: #292E47;
}
.button-text{
    display: inline-block;
    color: white;
    /* margin: 15px 33px; */
    text-align: center;
    text-decoration: none;
}
/*---------------- HERO SECTION */
.hero{    
}
.hero-container{
    display: flex;
    margin: 0px 110px;
}
/* HERO TEXT */
.see-our-work{
    text-align: center;
    text-decoration: none;
    margin: 0px 20px;
    color: #514D67;
}
/* HERO IMAGE */
.hero-image{
    /* display:inline-block; */
    width: 570px;
    height: 650px;    
}
/* CLIENT SECTION */
.client-container{
    margin: 85px 0px;
    display: flex;
    justify-content: space-evenly;
}
.grayscale{
    filter: grayscale(100%);
}
/* RECENT PROJECTS  */
.projects-container{
    /* display: flex; */
}
.projects{
    display: flex;
    justify-content: space-evenly;
    
}
.project-article{
    margin: 70px 40px 30px 0px; 
    background-color: white;   
}
.project-image{
    width: 340px;
    height: 240px;
}
.project-title{
    margin: 30px 30px;    
}
.learn-more{
    margin: 54px 0px 30px 30px;
}
.learn-more-text{
    text-decoration: none;
    color: #072AC8 ;
    font-weight: bold;
}
/* TESTIMONIAL */
.testimonial-container{
    background-color: #292E47;
    background-image: url('/assets/testimonial-section/orbit.png');
    margin: 150px 60px;    
}
.memojis{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* FOOTER*/
.footer-container{
    display: flex;
    justify-content: space-evenly;
}

/*-------------------------------------------- PAGE CONTACT US */
.contact-us-container{
    margin: 146px 60px;    
}
.input-value{
    display:block;
    background-color: #6B708D1A;
    border: #6B708D1A;
    padding: 22px 0px 22px 20px;
    width: 100%;
}
.phone{
    display: inline !important;
}
.submit{
    width: 100%;
}