/*------------- RESET HTML ------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F4FC;
    color: #514D67;
} 
/*-------------- STYLES AUX -----------*/
.color1 {color: #072AC8;}
.color2 {color: #43D2FF;}
.color3 {color: #A2D6F9;}
.color4 {color: #D1EDFF;}
.color5 {color: #292E47;}
.color6 {color: #6B708D;}
.color7 {color: #F2F4FC;}
.color8 {color: #ECF7FF;}
.color9 {color: #FFC600;}
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}
h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
}
h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}
h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.body-medium{   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.body-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}
.headline-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
}
.headline-medium{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
}
.caption1-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.caption2.regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
/* ------------------------------------------ MY CSS -----------------------*/
/* ---------------NAV-BAR */
.nav-bar {
    position: sticky;
    width: 100%;
    top: 0;
    /* z-index: 10; */
    background-color: #999999; 
  }
.container{
    display: flex;
    justify-content: space-around;
    /* margin: 35px 25px; */
}
/* MENU LIST */
.menu{
}
.menu-list{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    color: #6B708D;
    text-decoration: none;
    list-style-type: none;
    /* margin: 0px 20px;   */
    padding: 0px 20px;
    font-weight: bold;
} 
.menu-list:hover{
    color: #072AC8;
}
.menu-list:focus{
    color: #A2D6F9; /*wrong colorrrrrrrrrrrrrrrrrrrrrrrrr */
}
/* LOGO */
.logo{
    padding: 15px 33px;
}

/* CONTACT US BUTTON */
.button{
    display: inline-block;
    background-color: #072AC8; /* default blue */
    border: none;
    color: white;
    width: 150px;
    padding: 15px 10px 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.button:hover{
    background-color: #292E47;
}
.button-text{
    display: inline-block;
    color: white;
    /* margin: 15px 33px; */
    text-align: center;
    text-decoration: none;
}
/*---------------- HERO SECTION */
.hero{    
}
.hero-container{
    display: flex;
    margin: 0px 110px;
}
/* HERO TEXT */
.see-our-work{
    text-align: center;
    text-decoration: none;
    margin: 0px 20px;
    color: #514D67;
}
/* HERO IMAGE */
.hero-image{
    /* display:inline-block; */
    width: 570px;
    height: 650px;    
}
/* CLIENT SECTION */
.client-container{
    margin: 85px 0px;
    display: flex;
    justify-content: space-evenly;
}
.grayscale{
    filter: grayscale(100%);
}
/* RECENT PROJECTS  */
.projects-container{
    /* display: flex; */
}
.projects-item{
    display: flex;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    
}
.project-article{
    margin: 70px 40px 30px 0px; 
    background-color: white;   
}
.project-image{
    width: 340px;
    height: 240px;
}
.project-title{
    margin: 30px 30px;    
}
.learn-more{
    margin: 54px 0px 30px 30px;
}
.learn-more-text{
    font-size: 19px;
    text-decoration: none;
    color: #072AC8 ;
    font-weight: bold;
}
/* TESTIMONIAL */
.testimonial{
}
.testimonial-container{
    background-color: #292E47;
    background-image: url('/assets/testimonial-section/orbit.png');
    margin: 150px 60px;    
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
}
.memojis{
    /* display: flex;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
}
.memoji1{
    /* background-color: red; */
    width: 200px;
    height: 200px;    
}
.memoji2{
    /* background-color: blue; */
    width: 200px;
    height: 200px;   
    margin-left: 700px;
}
.memoji3{
    /* background-color: green; */
    bottom: 100px;
    width: 200px;
    height: 200px;   

}
.memoji4{
    /* background-color: yellow; */
    width: 200px;
    height: 200px;  
    margin-left:700px;
}
.testimonial-title{
    color: white;
}
.testimonial-description{
    color: #FFC600;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.testimonial-info{
    display: flex;
     margin-left: 40%; 
}
.testimonial-image{
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 50%;
    width: 10%;
    height: 50%;
    /* background-position: 20px; */
    
}
.testimonial-user{
    color: #A2D6F9;
}
.testimonial-url{
    color: white;
}
/* FOOTER*/
.footer-container{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 80px 0;
}
.footer-style{
    text-decoration: none;
    /* text-align: center; */
    color: #6B708D;
    margin: 30px;
}
.links{
    margin: 30px 0 px 150px 0px;
    padding: 20px;
}

/*-------------------------------------------- PAGE CONTACT US */
.contact-us{
    margin: 146px 60px;    
}
.contact-us-container{
    display: flex;
    flex-direction: column;
    /* margin: 146px 60px;     */
}
.input-value{
    background-color: #6B708D1A;
    border: #6B708D1A;
    padding: 22px 0px 22px 20px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
     margin: 10px 0; 
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
}
.row{
    display: flex;
    /* flex-direction: row; */
    /* margin: 0;
    padding: 0; */
}
.submit{
    width: 100%;
}
/* SERVICES */
.services{    
}
.services-container{
    margin: 200px 40px 30px 70px; 
}
.services-single{
    display: flex;
}
.service{
    background-color: white;
    margin: 70px 40px 64px 0px;
    /* padding: 10px; */
    /* box-shadow: 20px 10px 30px #dadada; */

}
.service:hover{
    box-shadow: 20px 10px 30px #dadada;
}
.service-icon{
    background-color: #ECF7FF;
    border-radius: 50%;    
    padding: 25px;
    width: 50px;
    height: 50px;
}
.service-item{
    margin: 30px 0px 30px 30px;
}
/* CTA SECTION  */
.cta{    
}
.cta-container{
    background-color:#FFC600;
    margin: 136px 60px 170px 60px;
    padding: 136px 110px 137px 110px;
    text-align: center;
}
.cta-input{
    display: flex;
}
.cta-email{
    width: 40%;
    background-color: white;
    background-image: url(/assets/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 20px;
    margin-left: 25%;
    padding: 27px 0px 27px 70px;
}
.cta-subscribe{
    margin: 15px 0px 15px 0px;
    background-color: #072AC8;
    padding: 8px;
}
.cta-subscribe:hover{
    background-color: 292E47;

}
/*------------------------------------------- PAGE PROJECT */
.project{
    margin: 136px 60px 170px 60px;
}
.project-header{
    display: flex;
    justify-content: space-between;
}
.project-main-image{
    max-width: 100%;
    margin: auto;
    height: auto;
    background-repeat: no-repeat;
    box-shadow: 20px 10px 30px #dadada;
}

/*------------------------------------------------------------------------------------------------ MEDIA QUERY */
@media screen and (max-width: 414px) {
    .nav-bar{
        background-color: #F2F4FC;
        position: absolute;
        /* top: 0; */
    }
    .logo{
        display: none;
    }
    .menu-list{
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    .nav-bar-contact-us{
        display: none;
    }
    /* HERO TEXT */
    .hero h1 {
        margin-top: 150px;
        font-size: 25px;
        line-height: 38px;
        margin-bottom: 35px;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
    .hero-text p{       
        line-height: 25px; 
        margin-bottom: 35px;
        font-size: 15px;
        /* background-color:cyan; */
        /* display: flex;
        flex-direction: column; */
    }
    .hero-logo{

    }
    .hero-image{
        /* background-color: green; */
        max-width: 100%;
        height: auto;
        
    }
    /* ----------------CLIENTS */
    .client-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .client-links{
        margin: 15px;
    }
    /*----------- TESTIMONIAL */
    .testimonial{
        width: 100%;

    }
    .testimonial-container{     
        margin: 0;
    }
    .testimonial-info{
        margin-left: 30%;
    }
    .testimonial-image{
        margin-top: 10%;
    }
    .memojis{
    }
    .memojis-item{
        display: none;
    }
    /*------------------------- SERVICES */
    .service{
        margin: 10px;
        box-shadow: 20px 10px 30px #dadada;
    }
    .services-single{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    .services-container{
        margin: 0 10px 0 10px;
        padding-left: 10px;
        padding-right: -10px;
    }

    /*------------------- CTA */
    .cta-container{        
        margin: 0;
        padding: 5px 0 15px 0;
    }
    .cta-input{
        display: flex;
        flex-direction: column;
    }
    .cta-subscribe{
        margin-left: 25%;
        margin-right: 18%;
    }
    .cta-button{
    }

    /*-------------------- FOOTER */
    .footer-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-links{
        margin-bottom: 15px;
        padding-bottom: 100px;
    }

/*------------------- PAGE CONTACT US */
    .contact-us{
        /* padding: 0px; */
        margin-left: 15px;
        width:90%;
    }
    .contact-us-container{
        /* margin-left: 25%; */
      
    }
    .row{
        display: flex;
        flex-direction: column;  
    }
    .button{
    }
    .submit{
        /* width: 360px; */
        /* margin-left: 10px; */
    }

    /*------------------- PAGE PROJECT */
    .project-header{
        display: flex;
        flex-direction: column;
    }
    .projects-container{
        text-align: center;
    }
    .projects{
        display: flex;
        flex-direction: column;
    }
    .project-article{
        margin: 0px 10px 10px 10px;
    }
    .projects-item{
        display: flex;
        flex-direction: column;
    }
    .project-image{
        width: 100%;
    }
    .projects-item{ 
        display: flex;
    }
    .project{
        font-size: 25px;
        line-height: 38px;
        margin: 0 10px 0 10px;
        padding: 0;
    }
    .project-p{
        line-height: 25px;
        margin-bottom: 35px;
        font-size: 15px;
    }
    












    
}